<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bw.movie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission xmlns:tools="http://schemas.android.com/tools"
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name="com.bawei.admin.wdcinema.core.GTApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.bawei.admin.wdcinema.activity.WelcActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="QLbXEuG8V7NzlqZQBxPWxBaPQnpSoI05" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name="com.bawei.admin.wdcinema.activity.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.bawei.admin.wdcinema.activity.second_activity.MyMessage_Activity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.bawei.admin.wdcinema.activity.LoginActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.bawei.admin.wdcinema.activity.RegisActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.bawei.admin.wdcinema.activity.second_activity.UpdatePwdActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.bawei.admin.wdcinema.activity.thirdly_activity.UpdateNameActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.bawei.admin.wdcinema.activity.FilmShowActivity"
            android:launchMode="singleTask" />
        <activity android:name="com.bawei.admin.wdcinema.activity.second_activity.OpinActivity" />
        <activity android:name="com.bawei.admin.wdcinema.activity.MoviesByIdActivity" />
        <activity android:name="com.bawei.admin.wdcinema.activity.second_activity.ConcerActivity" />
        <activity android:name="com.bawei.admin.wdcinema.activity.second_activity.CinemaScheduleActivity" />
        <activity android:name="com.bawei.admin.wdcinema.activity.thirdly_activity.MovieSeatActivity" />
        <activity android:name="com.bawei.admin.wdcinema.activity.thirdly_activity.OpinTwoActivity"></activity>
    </application>

</manifest>