<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bw.movie">

    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission xmlns:tools="http://schemas.android.com/tools"
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".core.GTApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.WelcActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="QLbXEuG8V7NzlqZQBxPWxBaPQnpSoI05" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5c4d55b2b465f5fd96000d2f" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.second_activity.MyMessage_Activity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.RegisActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.second_activity.UpdatePwdActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.thirdly_activity.UpdateNameActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.FilmShowActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.second_activity.OpinActivity" />
        <activity
            android:name=".activity.MoviesByIdActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.second_activity.ConcerActivity" />
        <activity android:name=".activity.second_activity.CinemaScheduleActivity" />
        <activity android:name=".activity.thirdly_activity.MovieSeatActivity" />
        <activity android:name=".activity.thirdly_activity.OpinTwoActivity" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".activity.second_activity.BuyRecordActivity" />
        <activity android:name=".activity.CinemasListByMovieIdActivity" />
        <activity android:name=".activity.MovieScheduleListActivity" />
        <activity android:name=".activity.second_activity.MessageActivity"></activity>
    </application>

</manifest>